body{
    font-family: 'DynaPuff', cursive;
    background-image:url("https://media.istockphoto.com/photos/china-shenzhen-skyscraper-picture-id969333552?b=1&k=20&m=969333552&s=170667a&w=0&h=PLPBto2N2Jr7yBSfuxvDyqyws7zIFysEbwWwgT_HqDU=");
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.introduction{
    text-align:center;
}
h1{
    color:green;
    font-size:10vw;
}
h3{
    font-size:2rem;
}
.extractor{
    border:2px solid orange;
    background-color:black;
    color:blue;
    width:40vw;
    height:10vh;
    font-size:4rem;
}
.extractor-title, .sectitle{
    font-size:5rem;
}
.submit{
    background-color:black;
    border: 2px solid green;
    color:green;
    font-size: 2rem;
}
.submit:hover{
    background-color: green;
    color: black;
    border: 2px solid black;
}
.datasection{
    font-size:5rem;
}
.option{
    background-color:rgb(152, 247, 152);
    font-size:1rem;
}
.option2{
    background-color:rgb(241, 247, 152);
    font-size:1rem;
}
.option3{
    background-color:rgb(243, 85, 85);
    font-size:1rem;
}
.option3:hover{
    background-color:black;
    color:red;
}
.option:hover{
    background-color:black;
    color:white;
}
.option2:hover{
    background-color:black;
    color:white;
}
.none{
    display:none;
}
.titlealmac{
    color:red;
}
#muestralist{
    background-color:yellow;
    border:2px solid black;
}
.color{
    display:block;
}
.datasection{
    display:block;
}
.datasection p{
    display:inline-block;
    cursor:pointer;
}
.datasection a{
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
}
#muestra{
    margin-right:10px;
}
#bigger{
    margin-right:5px;
    color:green;
    font-size:4rem;
}
#smaller{
    color:red;
    font-size:4rem;
}
#objname{
    color:darkgreen;
}
.inline{
    display:inline-block;
}
.key{
    color:rgb(56, 56, 240);
}
.value{
    color:rgb(102, 124, 252);
}
#selectitle, #selectitle2{
    color:red;
}
#selecinput, #selecinput2{
    background-color:rgb(241, 247, 152);
}
#selecdiv, #selecdiv2{
    padding:10px;
}
.muestralocal{
    font-size:1rem;
}